""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
" Set Handlers
"""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
sethandler <S-Tab> a:vim
sethandler <C-A> a:ide
sethandler <C-B> a:ide
sethandler <C-C> a:ide
sethandler <C-D> a:ide
sethandler <C-E> a:ide
sethandler <C-F> a:ide
sethandler <C-G> a:ide
sethandler <C-H> a:vim
sethandler <C-I> a:ide
sethandler <C-J> a:ide
sethandler <C-K> a:vim
sethandler <C-L> a:vim
sethandler <C-M> a:vim
sethandler <C-N> a:ide
sethandler <C-O> a:vim
sethandler <C-P> a:vim
sethandler <C-Q> a:vim
sethandler <A-Q> a:vim
sethandler <C-R> a:ide
sethandler <C-S> a:ide
sethandler <C-T> a:vim
sethandler <C-U> a:vim
sethandler <C-V> a:ide
sethandler <C-W> a:vim
sethandler <C-X> a:ide
sethandler <C-Y> a:vim
sethandler <C-[> a:ide
sethandler <C-\> a:vim
sethandler <C-]> a:vim
sethandler <C-;> a:ide

"""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
" VIM Setting
"""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
" https://github.com/JetBrains/ideavim
let mapleader=" "
set scrolloff=5
set incsearch
set hlsearch
set ignorecase
set smartcase
set showcmd
set showmode
nmap <leader><ESC> :noh<CR>
" ColorScheme>General>line number on caret row=DC2965
" ColorScheme>General>line number=60778E
set number
" set relativenumber
set clipboard+=unnamed  " use the clipboards of vim and win
" Don't use Ex mode, use Q for formatting.
map Q gq
map <leader>9  :action IdeaVim.ReloadVimRc.reload<CR>
"""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
" VIM PLUGINS
"""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
set ideajoin
set highlightedyank
set vim-surround
set textobj-entire

"" PLUGIN
let context_aware=0
" 日文
let keep_input_source_in_insert=1041
" 搜狗
" let keep_input_source_in_insert=2052
let keep_input_source_in_normal=1033
set keep-english-in-normal-and-restore-in-insert

"" PLUGIN
set ReplaceWithRegister
" gr doPaste

"" PLUGIN
set exchange
" X   Visual mode.On the first use, define the first {motion} to exchange. On the second use, define the second {motion} and perform the exchange.
" cxc Clear any {motion} pending for exchange.

"" PLUGIN
set surround
vmap " S"
vmap ' S'
" cs + old + new
" ds + tags
" vMode: S + tags

"" PLUGIN
set easymotion
map f <Plug>(easymotion-s2)
map J <Plug>(easymotion-j)
map K <Plug>(easymotion-k)

"" PLUGIN
set NERDTree
map <leader>e :action SelectInProjectView<CR>
" Key	Description
" o		Open files, directories and bookmarks
" i		Open selected file in a split window
" s		Open selected file in a new vsplit
" x		Close the current nodes parent
" X		Recursively close all children of the current node
" P		Jump to the root node
" p		Jump to current nodes parent
" r		Recursively refresh the current directory
" m		Display the NERDTree menu
" q		Close the NERDTree window
" A		Zoom (maximize/minimize) the NERDTree window

"" PLUGIN
set commentary
" gcc switch comment
" gcu uncomment out all

"""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
" Basic Mapping
"""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
"" -- FOLD --
" zc fold
" C-> toggle fold
map <C-K> :action ExpandCollapseToggleAction<CR>
" zo open
" zM fold all
" zR open all
map zm zM
map zr zR

"" -- NORMAL MODE --
nmap <leader>p vwgr
nmap <leader><leader>p Vgr
vmap p gr
map <A-p> :action PasteMultiple<CR>
imap <A-p> :action PasteMultiple<CR>

map vv V
map <leader>v <C-v>

nmap vw viw
nmap yw yiw
nmap cw ciw
nmap dw diw

nmap vb vib
nmap yb yib
nmap cb cib
nmap db dib

nmap v{ vi{
nmap y{ yi{
nmap c{ ci{
nmap d{ di{

nmap v( vi(
nmap y( yi(
nmap c( ci(
nmap d( di(

nmap vB viB
nmap yB yiB
nmap cB ciB
nmap dB diB

nmap vt vit
nmap yt yit
nmap ct cit
nmap dt dit

nmap v" vi"
nmap y" yi"
nmap c" ci"
nmap d" di"

nmap v2 vi"
nmap y2 yi"
nmap c2 ci"
nmap d2 di"

nmap v' vi'
nmap y' yi'
nmap c' ci'
nmap d' di'

nmap Y y$
"" -- Change Indent --
nmap > >>
nmap < <<
vmap > >gv
vmap < <gv

map H ^
map L $
map <S-DOWN> <DOWN>
map <S-UP> <UP>

"u undo
nmap U :action $Redo<CR>

nmap + <C-a>
vmap + g<C-a>
map - <C-x>
vmap - g<C-x>

"" -- INSERT MODE --
imap <C-k> <C-o>D<Right>
imap jj <ESC>
"""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
" Japanese
"""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
imap ｊｊ <ESC>
map ｄｄ dd
map ｙｙ yy
map ｃｃ cc
map ｃ c
map ｓ s
map ｘ x
map ｐ p
map お o
map い i
map あ a
vmap い <ESC>i

"""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
" IDEA ACTION
"""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
" DEBUG
map <leader>w :action Debugger.AddToWatch<CR>
map <leader>b :action ToggleLineBreakpoint<CR>
map <Leader>B :action ViewBreakpoints<CR>
map <leader>ab :action Debugger.RemoveAllBreakpoints<CR>
map <leader>d :action Debug<CR>
map <leader>D :action RunToCursor<CR>
" S-f9 debug
" S-f10 run
" C-S-f10 run class
" A-S-f10 run window
" C-f2 stop

" WINDOW
map <S-Tab> :action NextSplitter<CR>
map <leader><Right> :action MoveTabRight<CR>
map <leader><Left> :action MoveEditorToOppositeTabGroup<CR>
map <leader><Up> :action EditSourceInNewWindow<CR>
map <leader><Down> :action SplitHorizontally<CR>
map <leader>x :action CloseContent<CR>
map <leader>X :action ReopenClosedTab<CR>
map <leader>co :action CloseAllEditorsButActive<CR>
map <leader>ca :action CloseAllEditors<CR>
map <leader>oe :action RevealIn<CR>
map <A-E> :action RecentLocations<CR>
imap <A-E> :action RecentLocations<CR>

" MULTIPLE-CURSORS
map <A-n> :action SelectNextOccurrence<CR>
imap <A-n> :action SelectNextOccurrence<CR>
map <A-x> :action UnselectPreviousOccurrence<CR>
imap <A-x> :action UnselectPreviousOccurrence<CR>
map <A-A> :action SelectAllOccurrences<CR>
imap <A-A> :action SelectAllOccurrences<CR>
" F3 move to next occurrence
" S-F3 move to previous occurrence

" REFACTOR
map <C-L> :action ReformatCode<CR>
imap <C-L> :action ReformatCode<CR>
" Default <C-A-O> :action OptimizeImports<CR>
map mn :action RenameFile<CR>
map me :action RenameElement<CR>
map ms :action ChangeSignature<CR>
map mc :action IntroduceConstant<CR>
map mf :action IntroduceField<CR>
map mp :action IntroduceParameter<CR>
map <A-q> :action IntroduceVariable<CR>
imap <A-q> :action IntroduceVariable<CR>
map <A-s> :action SurroundWith<CR>
imap <A-s> :action SurroundWith<CR>
map <C-T> :action Refactorings.QuickListPopupAction<CR>
imap <C-T> :action Refactorings.QuickListPopupAction<CR>

" FIND FILE & ACTION
map <A-f> :action FindInPath<CR>
imap <A-f> :action FindInPath<CR>
map <A-r> :action ReplaceInPath<CR>
imap <A-r> :action ReplaceInPath<CR>
map <A-I> :action QuickImplementations<CR>
imap <A-I> :action QuickImplementations<CR>

map <leader>nc :action NewClass<CR>
map <leader>nd :action NewDir<CR>
map <leader>nf :action NewFile<CR>

" BookMark
map mm :action ToggleBookmark<CR>
map M :action ShowBookmarks<CR>
map <C-M> :action ToggleBookmarkWithMnemonic<CR>

" alt+F7 FindUsages
map <A-B> :action ShowUsages<CR>
imap <A-B> :action ShowUsages<CR>
map <C-Q> :action CallHierarchy<CR>
imap <C-Q> :action CallHierarchy<CR>

" Git
nmap gh :action Vcs.ShowTabbedFileHistory<CR>
vmap gh :action Vcs.ShowHistoryForBlock<CR>
map tt :action Annotate<CR>

" Other
map <C-W> :action EditorSelectWord<CR>
map <Tab> :action RecentFiles<CR>
map <leader>dr :action CopyReference<CR>
map <A-C> :action CopyFileName<CR>
imap <A-C> :action CopyFileName<CR>
""""""""""""""""""""""""""""""""""""""Navi""""""""""""""""""""""""""""""""
map <A-t> :action GotoTest<CR>
imap <A-t> :action GotoTest<CR>
map <C-U> :action GotoSuperMethod<CR>

" Code
map <C-O> :action OverrideMethods<CR>
""""""""""""""""""""""""""""""""""""""Popup""""""""""""""""""""""""""""""""
map <A-W> :action FileStructurePopup<CR>
imap <A-W> :action FileStructurePopup<CR>
map <A-g> :action Generate<CR>
imap <A-g> :action Generate<CR>
nmap <Leader>gm :action ShowPopupMenu<CR>
""""""""""""""""""""""""""""""""""""""Search""""""""""""""""""""""""""""""""
map <Leader>ga :action GotoAction<CR>
map <Leader>gc :action GotoClass<CR>
map <Leader>gf :action GotoFile<CR>
map <Leader>gs :action GotoSymbol<CR>

" Macros
map vm @m
let @m =']MV%(' " select method
"""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
" temp
"""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
map 99 v":action SearchEverywhere<CR>
